<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/lines.css"/>
</head>
<title></title>
<body>
<% if @lines.empty? %>
  <p>There are no lines to display</p>
<% else %>
  <div id="lines_div">
    <%= will_paginate @lines %>
    <table class="lines_table">
      <thead class="lines_header">
        <th></th>
        <th>Call Time</th>
        <th>Arrival Time</th>
        <th>Type</th>
        <th>Details</th>
        <th>Unit</th>
      </thead>
      <%= render :partial => "line", :collection => @lines %>
    </table>
  </div>
<% end %>
</body>
</html>
