  <%= will_paginate @events %> 
  <script>
  <% map = Variable.new("map") %>
  // map.enableKeyDragZoom()
  <%= map.clear_overlays.to_javascript %>
  </script>
  <table class="events_table"> 
    <thead class="events_header"> 
    <th></th> 
    <th>Date</th> 
    <th>Response</th> 
    <th>Details</th> 
    <th>Units</th> 
    </thead> 
    <%= render :partial => "event", :collection => @events %> 
  </table> 
