<% if (@event.nil?) %>
  <p>Could not retrieve event.</p>
<% else %>
  <h3>Event</h3>
  <table cellpadding="2" border>
    <tr><td>ID</td><td><%= @event.id %></td></tr>
    <tr><td>Date</td><td><%= @event.event_datetime %></td></tr>
    <tr><td>Location</td><td><%= @event.address %></td></tr>
  </table>
  <h3>Incidents</h3>
  <div id="lines_div">
    <table class="lines_table">
      <thead class="lines_header">
        <th></th>
        <th>Call Time</th>
        <th>Arrival Time</th>
        <th>Type</th>
        <th>Details</th>
        <th>Unit</th>
      </thead>
      <%= render :partial => "line", :collection => @lines %>
    </table>
  </div>
<% end %>
